

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Upload Data</h2>
@{
    ViewBag.Title = "UploadFile";
}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <div class="col-md-4"></div>
                <div class=" col-md-4">
                    @using (Html.BeginForm("UploadProductFile", "UploadUpdates", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div>
                            <h3>Upload Update </h3>
                            @Html.TextBox("file", "", new { type = "file", accept = ".zip"}) <br />
                            <input type="submit" value="Upload Update" class="btn btn-primary" />
                        </div>
                    }
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>

@if (@ViewBag.Message is null)
{

}
else
{
<script>
        bootbox.alert(`@ViewBag.Message`);
</script>
}
